<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
        />

        <q-toolbar-title>
          Kobo Note Reader
        </q-toolbar-title>
        
        <div>v{{ this.appVersion }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Kobo Note Reader</q-item-label>

        <q-item clickable tag="a" href="/" active-class="text-primary" :active="isActiveRoute()">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
            <!-- <q-item-label caption>all books</q-item-label> -->
          </q-item-section>
        </q-item>

        <!-- <q-item clickable tag="a" href="/hello">
          <q-item-section avatar>
            <q-icon name="book" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Hello</q-item-label>
            <q-item-label caption>all books</q-item-label>
          </q-item-section>
        </q-item> -->

        <q-item clickable tag="a" href="/notes" active-class="text-primary" :active="isActiveRoute('notes')">
          <q-item-section avatar>
            <q-icon name="sticky_note_2" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Notebook</q-item-label>
            <q-item-label caption>all notes</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable tag="a" href="/books" active-class="text-primary" :active="isActiveRoute('books')">
          <q-item-section avatar>
            <q-icon name="book" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Books</q-item-label>
            <q-item-label caption>all books</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator />

        <q-item clickable tag="a" :href="`https://gitlab.com/bemnlam/kobo-note-reader/-/tree/v${appVersion}`" target="_blank" ref="no-follow">
          <q-item-section avatar>
            <q-icon name="source" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Source (v{{ appVersion}})</q-item-label>
            <q-item-label caption>Gitlab repository</q-item-label>
          </q-item-section>
        </q-item>
        
        
        <q-item-label header>Quasar v{{ $q.version }}</q-item-label>
      </q-list>
    </q-drawer>

    <q-page-container>
      <slot v-bind:querystring="this.querystring"></slot>
    </q-page-container>
  </q-layout>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
// import BookShelf from './components/BookShelf.vue'

export default {
  name: 'LayoutDefault',

  components: {
    // HelloWorld,
    // BookShelf
  },
  data () {
    return {
      appVersion: process.env.VUE_APP_VERSION || '0',
      querystring: {},
      leftDrawerOpen: false
    }
  },
  methods: {
    isActiveRoute(route) {
      if(!route) return window.location.hash === ""
      return window.location.hash.startsWith(`#!/${route}`);
    }
  },
}
</script>

<style>
</style>
