<template>
  <q-card class="col-12 q-mb-xl" style="max-width: 440px; height: 320px">
    <q-card-section>
      <div class="text-h6 text-dark">Upload Instructions</div>
    </q-card-section>

    <q-tabs v-model="tab" class="text-secondary">
      <q-tab label="Mac" name="mac" />
      <q-tab label="PC" name="pc" />
    </q-tabs>

    <q-separator />

    <q-tab-panels class="text-left" v-model="tab" animated>
      <q-tab-panel name="mac">
        <ol>
          <li>Click the box above 👆</li>
          <li><kbd>⌘</kbd> <kbd>shift</kbd> <kbd>G</kbd></li>
          <li>
            Type
            <code
              style="word-break: break-all;"
              title="Click to copy"
              class="cursor-pointer text-secondary"
              v-clipboard:copy="'/Volumes/KOBOeReader/.kobo/KoboReader.sqlite'"
              v-clipboard:success="onCopy"
              >/Volumes/KOBOeReader/.kobo/KoboReader.sqlite
            </code>
          </li>
          <li>Click <b>Go</b></li>
          <li>Click <b>Choose for upload</b></li>
        </ol>
      </q-tab-panel>

      <q-tab-panel name="pc">
        <ol>
          <li>Click the box above 👆</li>
          <li>Goto <code>KOBOeReader/.kobo/</code></li>
          <li>Choose <code>KoboReader.sqlite</code> and upload.</li>
        </ol>
      </q-tab-panel>
    </q-tab-panels>
  </q-card>
</template>

<script>
export default {
  name: "Instruction",
  data: function () {
    return {
      tab: "mac",
    };
  },
  methods: {
    onCopy: function (e) {
      console.debug(e.text);
      this.$q.notify({
        type: "positive",
        message: "Path copied!",
        caption: "Ctrl + V to paste.",
      });
    },
  },
};
</script>