<template>
  <q-dialog v-model="isShowing" persistent>
    <q-card class="my-card" style="min-width: 320px; max-width: 100vw;">
      <!-- <q-img src="https://images.unsplash.com/photo-1609895720459-394a6a8c99ed?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" /> -->
      <q-card-section class="q-pb-none text-center">
      <qr-code 
          :text="fullquote"
          :size="288"
          color="#646464"
          error-level="L">
      </qr-code>
      </q-card-section>

      <q-card-section>
        <q-btn
          v-clipboard:copy="fullquote"
          v-clipboard:success="onCopy"
          fab
          color="primary"
          icon="content_copy"
          class="absolute"
          style="top: 0; right: 12px; transform: translateY(-50%)"
        />

        <div class="row no-wrap items-center">
          <div class="col text-h6 ellipsis">Share this quote</div>
          <!-- <div
            class="col-auto text-grey text-caption q-pt-md row no-wrap items-center"
          >
            <q-icon name="event" />
            {{ this.snsContent.lastmod }}
          </div> -->
        </div>
        <div class="row">
          <div class="text-caption text-grey">
            Copy the text or scan the QR code.
          </div>
        </div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <!-- <div class="text-subtitle1">{{ this.snsContent.name }}</div>
        <div class="text-caption text-grey">
          {{ this.snsContent.title }}
        </div> -->
        <q-input outlined dense
          v-model="fullquote"
          autogrow
        />
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          @click="$emit('dismiss')"
         v-close-popup flat color="primary" label="Dismiss" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
// import VueQRCodeComponent from 'vue-qr-generator'

export default {
  name: 'SnsDialog',
  props: ['show', 'snsContent'],
  data: function () {
    return {
      // content: this.snsContent,
      // fullquote: `“${ (this.snsContent.name || '').trim() }” –– ${ (this.snsContent.title || '').trim() }`
    }
  },  
  computed: {
    isShowing: function() {
      return this.show
    },
    fullquote: function() {
      return `"${ (this.snsContent.name || '').trim() }" -- ${ (this.snsContent.title || '').trim() }`;
    }
  },
  methods: {
    onCopy: function(e) {
      console.debug(e)
      this.$emit('copied', e)
    }
  },
  components: {
    // VueQRCodeComponent
  }
}
</script>