<template>
  <main-layout>
    <q-page class="flex flex-center">
      <div class="text-center">
        <img alt="app logo" src="../assets/favicon.png" style="max-width: 150px"/>
        <h2 color="text-primary">Page Not Found</h2>
        <q-btn
          class="q-mt-md" outline color="primary" label="Back to homepage"
          :ripple="{ center: true }" no-caps
          type="a" :href="`/`"
        />
      </div>
    </q-page>
  </main-layout>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'
  export default {
    components: {
      MainLayout
    }
  }
</script>