<template>
  <main-layout>
    <q-page class="flex justify-center">
      <div class="text-center">
        <div style="font-size: 10rem; user-select: none;" @click="shuffleLogo">{{ logo }}</div>
        <!-- <img class="q-mt-xl" alt="app logo" src="/android-chrome-512x512.png" style="max-width: 150px"/> -->
        <!-- <label class="button">Load an SQLite database file: <input type='file' id='dbfile'></label> -->
        <h2 class="q-my-xs text-primary">Kobo Note Reader</h2>
        <div class="text-subtitle2 text-dark">Browse and share your notes in Kobo Reader</div>

        <div v-show="!this.shelfReady" class="q-pa-md text-center">
          <q-tabs dense v-model="tab" class="text-dark">
            <q-tab label="Upload File" name="upload" />
            <q-tab label="Use Url" name="url" />
          </q-tabs>
          <q-tab-panels v-model="tab" animated>
            <q-tab-panel class="q-pa-xs" name="upload">
              <q-file class="col-12"
                v-model="files"
                :label-color="this.shelfReady ? 'positive' : 'negative' " 
                :color="this.shelfReady ? 'positive' : 'negative' "
                label="Drop your KoboReader.sqlite file here"
                accept=".sqlite"
                clearable
                filled
                :max-files="1"
              />
            </q-tab-panel>
            <q-tab-panel class="q-pa-xs" name="url">
              <q-input filled clearable 
            :label-color="this.shelfReady ? 'positive' : 'negative' " 
            :color="this.shelfReady ? 'positive' : 'negative' "
           v-model="dbUrl" label="sqlite file URL" >
            <template v-slot:append>
              <q-btn :disable="!dbUrl" round dense flat icon="send" @click="loadDemoDb(dbUrl, true)"/>
            </template>
          </q-input>
            </q-tab-panel>
          </q-tab-panels>
          
          <q-linear-progress :indeterminate="this.isLoading" rounded color="accent" class="q-mt-sm" />
          
          <q-btn class="q-my-xs" no-caps flat size="md"
           :disable="this.shelfReady" @click="loadDemoDb('demo.sqlite')" 
           :color="this.shelfReady ? 'positive' : 'dark'" 
           :label="this.shelfReady ? 'DB ready!' : 'Or, try it out using the demo db'"/>
          <!-- <q-img 
            :key="`img_${index}`" v-for="(image, index) in base64Images"
            :src="image.src"
            style="width: 250px"
          >
            <div class="absolute-bottom text-subtitle1 text-center">
              {{ image.filename }}
            </div>
          </q-img> -->

        </div>

        <div v-if="this.shelfReady" class="q-my-md">
        <q-btn 
          icon="book" outline color="primary" label="All books"
          :ripple="{ center: true }" no-caps
          type="a" :href="`/books`"
        />
        <q-btn
          icon="sticky_note_2" class="q-ml-md" outline color="primary" label="All notes"
          :ripple="{ center: true }" no-caps
          type="a" :href="`/notes`"
        />
        </div>
        <div v-else>
          <instruction />
        </div>
      </div>
    </q-page>
  </main-layout>
</template>

<script>
import MainLayout from "../layouts/Main.vue";
import loaddb from '../api/loaddb'
import Instruction from "../components/Instruction"

export default {
  name: "Home",
  mounted() {
    if(this.$root.$data.kobo) {
      this.db = this.$root.$data.kobo
      this.dbReady = true;
    }
  },
  data () {
    return {
      tab: 'upload',
      isLoading: false,
      dbUrl: '',
      logo: '📕',
      logos: ['📕', '📘', '📒', '📓', '📗', '📙', '😴'],
      dbReady: false,
      base64Images: [],
      files: null,
      uploadProgress: [],
      uploading: null,
      demoDb: null
    }
  },
  computed: {
    shelfReady() {
      return this.dbReady && (!!this.files || !!this.demoDb)
    }
  },
  methods: {
    shuffleLogo() {
      this.logo = this.logos[Math.floor(Math.random() * this.logos.length)]
    },
    async loadDemoDb(dbFilePath, isAbsolute) {
      this.isLoading = true;
      this.demoDb = await loaddb.loadDemo(dbFilePath, isAbsolute)
      this.$root.$data.kobo = await loaddb.conn(this.demoDb);
      this.dbReady = true;
      this.isLoading = false;
    },
    getBase64(file) {
      var reader = new FileReader();
      reader.onloadend = () => {
        console.debug('loaded')
        this.base64Images.push({
          src: reader.result,
          filename: file.name
        });
      }
      reader.readAsDataURL(file);
    },
    async loadDatabase(file) {
      this.dbReady = false;
      var reader = new FileReader();
      reader.onloadend = async () => {
        this.$root.$data.kobo = await loaddb.conn(reader.result);
        console.debug('loaded')
        this.dbReady = true;
      }
      reader.readAsArrayBuffer(file);
    }
  },
  watch: {
    async files(newVal) {
      if(newVal && newVal !== '(cached)') {
        await this.loadDatabase(newVal);
      }
    }
    // files(newVals) {
    //   this.base64Images = [];
    //   if(newVals && newVals.length > 0) {
    //     newVals.forEach(file => {
    //       console.debug('pushfile')
    //       this.getBase64(file);
    //     });
    //   }
    // }
  },
  components: {
    MainLayout,
    Instruction
  },
};
</script>

<style>
kbd {
  font-family: monospace;
  white-space: nowrap;
  display: inline-block;
  padding: 2px 4px;
  text-transform: uppercase;
  line-height: 1;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 5px;
  color: #fff;
  background-color: #757575;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2),0 2px 2px rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12);
}
</style>